---
import MainLayout from "../../layouts/MainLayout.astro";
import BreadCrumbs from "../../components/BreadCrumbs";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
    const allTechPosts = await getCollection("techPosts");
    return allTechPosts.map((p) => {
        return { params: { post: p.data.slug }, props: { p } };
    });
}

const { p } = Astro.props;
const { Content } = await render(p);

const url = Astro.url;
---

<MainLayout>
    <BreadCrumbs url={url} path={p.data.slug} title={p.data.title} />
    <div class="post-container">
        <Content />
    </div>
</MainLayout>

<style>
    .post-container :global(h1) {
        font-family: var(--open-sans-bold);
        font-size: 40px;
        color: var(--deep-blue);
        text-align: center;
    }

    .post-container :global(h2) {
        font-family: var(--open-sans-bold);
        font-size: 27px;
        color: var(--light-blue);
    }

    .post-container :global(p) {
        font-size: 23px;
    }
</style>
