.container {
  height: var(--main-slot-height);
}

.entry {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.dateEntry {
  display: flex;
  flex: 1;
  gap: 40px;
}

.year {
  color: var(--deep-blue);
}

.date {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.month {
  color: var(--light-blue);
}
.day {
  color: var(--light-blue);
}

.post {
  color: var(--deep-blue);
  font-family: var(--open-sans-bold);
  text-decoration: none;
  cursor: pointer;
}

.post:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.postBlock {
  margin-top: 60px;
}

@media (width <= 768px) {
  .container {
    padding: 10px;
  }

  .entry {
    font-size: 20px;
  }

  .date {
    font-size: 15px;
    justify-content: space-around;
  }

  .dateEntry {
    font-size: 15px;
    gap: 0px;
  }
}
