.container {
  height: var(--main-slot-height);
}

.entry {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 15px 0 15px 0;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  border: 1px var(--light-blue) solid;
  height: 60px;
  width: 400px;
}

.dateEntry {
  display: flex;
  font-size: 25px;
  align-items: center;
  flex: 1;
  gap: 40px;
  width: 100px;
  height: 100px;
}

.year {
  color: var(--deep-blue);
}

.date {
  flex: 1;
  display: flex;
  gap: 10px;
  max-width: 80px;
  justify-content: space-between;
}

.month {
  color: var(--light-blue);
}

.day {
  color: var(--light-blue);
}

.post {
  color: var(--deep-blue);
  font-family: var(--open-sans-bold);
  text-decoration: none;
  cursor: pointer;
}

.post:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.postBlock {
  margin-top: 60px;
}

@media (width <= 768px) {
  .container {
    padding: 10px;
  }

  .entry {
    font-size: 20px;
  }

  .date {
    font-size: 20px;
    max-width: 56px;
  }

  .dateEntry {
    font-size: 20px;
  }
}

@media (768px < width <= 1200px) {
  .entry {
    font-size: 20px;
  }
}
