.container {
  margin-top: 10px;
  color: var(--deep-blue);
  font-size: 30px;
  display: flex;
  gap: 8px;
}

.parentText {
  text-transform: capitalize;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: var(--light-blue);
}
