---
import { Content as PostContent } from "../markdowns/tech/Why I still love Fish shell.md";
---

<div class="post-container">
  <PostContent />
</div>

<style>
  .post-container :global(h1) {
    font-family: var(--open-sans-bold);
    font-size: 40px;
    color: var(--deep-blue);
    text-align: center;
  }

  .post-container :global(h2) {
    font-family: var(--open-sans-bold);
    font-size: 27px;
    color: var(--light-blue);
  }

  .post-container :global(p) {
    font-size: 23px;
  }
</style>
