.container {
  width: 100%;
  height: 120px;
  background-color: var(--deep-blue);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.box {
  width: 300px;
  height: 300px;
  position: absolute;
  border: 10px solid var(--deep-blue);
  background-color: var(--background-paper);
  color: var(--deep-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxText {
  font-size: 48px;
  font-weight: 600;
  transform: rotate(-20deg);
  text-transform: uppercase;
  text-align: center;
}

.linksDiv {
  margin: 5px;
}

.link {
  color: var(--background-paper);
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.link:hover {
  color: var(--deep-blue);
  background-color: var(--background-paper);
}
