.whole:hover .box {
  height: 60px;
}

.whole:hover .homeBoxText {
  transform: rotate(0deg);
  font-size: 30px;
}

.container {
  width: 100%;
  height: 80px;
  background-color: var(--deep-blue);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.homeContainer {
  composes: container;
  height: 120px;
}

.box {
  width: 300px;
  height: 60px;
  position: absolute;
  border: 10px solid var(--deep-blue);
  background-color: white;
  transition: height 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.homeBox {
  height: 120px;
  pointer-events: none;
}

.boxText {
  font-family: var(--open-sans-bold);
  color: var(--dark-grey);
  font-size: 30px;
  transform: rotate(0deg);
  text-transform: uppercase;
  text-align: center;
}

.homeBoxText {
  font-size: 40px;
  transform: rotate(-10deg);
  transition: all 0.5s ease-in-out;
}

.linksDiv {
  margin: 5px;
  font-family: var(--open-sans-light);
}

.link {
  color: var(--background-paper);
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.link:hover {
  color: var(--deep-blue);
  background-color: var(--background-paper);
}

@media (width <= 768px) {
  .boxText {
    font-size: 20px;
  }

  .box {
    width: 200px;
  }

  .homeBoxText {
    font-size: 20px;
  }

  .link {
    font-size: 20px;
  }

  .link > span {
    display: none;
  }

  .container {
    align-items: center;
  }
}
