---

---

<div class="post-container">
	<slot />
</div>

<style>
	.post-container {
		flex: 1;
	}
	.post-container :global(h1) {
		font-family: var(--open-sans-bold);
		font-size: 4rem;
		color: var(--deep-blue);
		text-align: center;
	}

	.post-container :global(h2) {
		font-family: var(--open-sans-bold);
		font-size: 2.7rem;
		color: var(--light-blue);
	}

	.post-container :global(b) {
		color: var(--light-blue);
	}

	.post-container :global(p) {
		color: var(--text-grey);
		font-size: 2.1rem;
	}

	.post-container :global(p > code) {
		padding: 1px 2px 1px 2px;
		background-color: var(--greyish-paper);
	}

	.post-container :global(a) {
		color: var(--light-blue);
		text-decoration: none;
	}

	.post-container :global(img) {
		display: block;
		margin: auto;
	}

	@media (width <= 768px) {
		.post-container :global(img) {
			width: 80%;
			height: 80%;
		}

		.post-container {
			padding: 20px 20px 200px 20px;
		}
	}
</style>
