.container {
  padding: 20px 0 0 0;
  margin-top: 20px;
  border-top: 4px var(--deep-blue) dashed;
  flex-shrink: 0;
}

.authorDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--dark-grey);
  height: 180px;
}
